{
  "openapi": "3.0.2",
  "info": {
    "title": "openapi",
    "version": "1.0.0",
    "description": "<h3>Create your own orgaMAX app or integrate your existing one in orgaMAX.</h3>◦ Register as an app developer in the  <a href=\"https://app.orgamax.de\">orgaMAX application</a>.<br/>◦ Create a new extension in the Marketplace ><a href=\"https://app.orgamax.de/apps/published\">Eigene Erweiterungen</a> sub-section. Then, provide a callback URL for your app.<br/>◦ Obtain the API key and API secret for the next step.<br/>◦ Click the authorize button on this page, use API key as Username and API secret as password. Click Authorize then close.<br/>◦ Go back to the <a href=\"https://app.orgamax.de/apps/published\">Eigene Erweiterungen</a> and click on \"Erweiterung testen\"<br/>◦ Copy the ownershipID from the query params in the callback URL (e.g., https://your-callback-url.de/callback?iid=<ownershipID>).<br/>◦ Use the ownershipID to obtain the bearer token by making a request on the auth route as shown in the respective example below.<br/>◦ Paste the bearer token in the authorization section of this page and your API testing tool.<br/>◦ To enable individual APIs, return to your extension, Scroll down to to \"API-Zugriffe\" and check the desired boxes.<br/>◦ Save the changes by clicking the \"Als Entwurf speichern\" button at the top.<br/><p>Get more information about orgaMAX <a href=\"https://deltra.com/\"> here</a>.<p/>",
    "contact": {
      "name": "us @ partner@orgamax.de",
      "email": "partner@orgamax.de"
    }
  },
  "servers": [
    {
      "url": "https://api.orgamax.de/openapi",
      "description": "Prod server"
    }
  ],
  "paths": {
    "/article/": {
      "post": {
        "summary": "Create article",
        "description": "<h1 style=\"color:#5e9ca0;\">Create an article  </h1><font size=\"4\" style=\"line-height:1.4\">Creates an article to be used in <em style=\"color:#2e6c80;\">invoices, offers, deliverynotes or your own app</em><br>  <br>Title, units and number are mandatory. <br>Please note:<span> </span><em style=\"color:#2e6c80;\"><br>Please refer to the working examples below</font>",
        "operationId": "createArticle",
        "tags": [
          "articles"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "article": {
                    "$ref": "#/components/schemas/ArticleData"
                  }
                }
              },
              "examples": {
                "Minimal": {
                  "value": {
                    "title": "My Article",
                    "unit": "Stk.",
                    "number": "0015",
                    "price": 200.25,
                    "vatPercent": 19
                  }
                },
                "Minimal with calculation base set to gross": {
                  "value": {
                    "title": "My Article",
                    "unit": "Stk.",
                    "number": "0016",
                    "calculationBase": "gross",
                    "priceGross": 200.25,
                    "vatPercent": 19
                  }
                },
                "With purchase price": {
                  "value": {
                    "title": "My Article",
                    "unit": "Stk.",
                    "number": "0017",
                    "price": 100,
                    "vatPercent": 19,
                    "purchasePrice": 56
                  }
                },
                "With all fields": {
                  "value": {
                    "title": "My Article",
                    "description": "Our best article since 1965",
                    "unit": "Stk.",
                    "number": "0018",
                    "purchasePrice": 56,
                    "price": 100,
                    "vatPercent": 19,
                    "category": "Zubehör",
                    "notes": "Please check waranty of the article before offering it to private customers",
                    "notesAlert": true
                  }
                },
                "With Graduated Price enabled": {
                  "value": {
                    "title": "My Article",
                    "description": "Our best article since 1965",
                    "unit": "Stk.",
                    "number": "0019",
                    "purchasePrice": 56,
                    "price": 100,
                    "vatPercent": 19,
                    "category": "Zubehör",
                    "notes": "Please check waranty of the article before offering it to private customers",
                    "notesAlert": true,
                    "isGraduatedPriceManaged": true,
                    "graduatedPriceList": [
                      {
                        "quantity": 1000,
                        "netUnitPrice": 40
                      },
                      {
                        "quantity": 2000,
                        "netUnitPrice": 30
                      }
                    ]
                  }
                },
                "With Graduated Price enabled and calculation base set to gross": {
                  "value": {
                    "title": "My Article",
                    "description": "Our best article since 1965",
                    "unit": "Stk.",
                    "number": "0015",
                    "purchasePrice": 56,
                    "priceGross": 100,
                    "vatPercent": 19,
                    "category": "Zubehör",
                    "notes": "Please check waranty of the article before offering it to private customers",
                    "notesAlert": true,
                    "calculationBase": "gross",
                    "isGraduatedPriceManaged": true,
                    "graduatedPriceList": [
                      {
                        "quantity": 1000,
                        "grossUnitPrice": 40
                      },
                      {
                        "quantity": 2000,
                        "grossUnitPrice": 30
                      }
                    ]
                  }
                },
                "With bookkeepingAccountId": {
                  "value": {
                    "title": "My Article",
                    "unit": "Stk.",
                    "number": "0016",
                    "priceGross": 200.25,
                    "vatPercent": 19,
                    "bookkeepingAccountId": "9997bb7b-5fce-1234-9476-13d341dc3285"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create article",
            "content": {
              "application/json": {
                "example": {
                  "meta": {},
                  "data": {
                    "id": "90"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Get paginated articles",
        "description": "<h1 class=\"info\">Gets a list of paginated articles</h1><h2 style=\"color:red;\">How to use it</h2><font size=\"4\" style=\"line-height:1.4\">You can use the parameters as shown in the section below and send them as query parameters.<em style=\"color:#0A96FE\"><br>https://api.orgamax.de/openapi/article?offset=0&search=&limit=20&orderBy=title&desc=true</em><br>or<br><em style=\"color:#0A96FE\">https://api.orgamax.de/openapi/article?offset=0&search=&limit=20&orderBy=title&desc=true</em><br>Please refer to the working examples below or  follow the link for additional documentation <a href=\"https://api.orgamax.de\">read more</a>.</font>",
        "operationId": "getArticles",
        "tags": [
          "articles"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Specify an arbitrary offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of records to return in one request",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "number",
                "priceGross",
                "price",
                "category",
                "vatPercent"
              ],
              "default": "title"
            }
          },
          {
            "in": "query",
            "name": "desc",
            "description": "Whether results are returned in ascending or descending order",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Specify an arbitrary search text",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Articles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/article/{id}": {
      "delete": {
        "summary": "Delete article by id",
        "description": "<h1 style=\"color:#0A96FE;\">Deletes an article by the article id </h1>",
        "operationId": "deleteArticle",
        "tags": [
          "articles"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The article id",
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Article Successfully Deleted"
          },
          "400": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "summary": "Update an article",
        "description": "<h1 style=\"color:#5e9ca0;\">Update an article  </h1><font size=\"4\" style=\"line-height:1.4\"> Update an article to be used in <em style=\"color:#2e6c80;\">invoices, orders, offers, deliverynotes or your own app </em><br> <br>Title, units and number are mandatory. <br>Please note&#58; You can use all properties defined in the schema section.<span> </span><em style=\"color:#2e6c80;\"><br>Please refer to the working examples below</font>",
        "operationId": "putArticle",
        "tags": [
          "articles"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "article id",
            "schema": {
              "type": "integer"
            },
            "example": 1578
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "article": {
                    "$ref": "#/components/schemas/ArticleData"
                  }
                }
              },
              "examples": {
                "With purchase price": {
                  "value": {
                    "title": "My Article",
                    "unit": "Stk.",
                    "number": "0015",
                    "price": 100,
                    "vatPercent": 19,
                    "purchasePrice": 56
                  }
                },
                "Minimal": {
                  "value": {
                    "title": "My Article",
                    "unit": "Stk.",
                    "number": "0016"
                  }
                },
                "With all fields": {
                  "value": {
                    "title": "My Article",
                    "description": "Our best article since 1965",
                    "unit": "Stk.",
                    "number": "0015",
                    "purchasePrice": 56,
                    "price": 100,
                    "vatPercent": 19,
                    "category": "Zubehör",
                    "notes": "Please check waranty of the article before offering it to private customers",
                    "notesAlert": true
                  }
                },
                "With Graduated Price enabled": {
                  "value": {
                    "title": "My Article",
                    "description": "Our best article since 1965",
                    "unit": "Stk.",
                    "number": "0015",
                    "purchasePrice": 56,
                    "price": 100,
                    "vatPercent": 19,
                    "category": "Zubehör",
                    "notes": "Please check waranty of the article before offering it to private customers",
                    "notesAlert": true,
                    "isGraduatedPriceManaged": true,
                    "graduatedPriceList": [
                      {
                        "quantity": 1000,
                        "netUnitPrice": 40
                      }
                    ]
                  }
                },
                "With bookkeepingAccountId": {
                  "value": {
                    "title": "My Article",
                    "unit": "Stk.",
                    "number": "0016",
                    "priceGross": 200.25,
                    "vatPercent": 19,
                    "bookkeepingAccountId": "35234bb7b-5fce-1234-9476-13d341dc3285"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update article",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "90"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Get article by id",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an article by the article id and returns the complete article structure</h1>",
        "operationId": "getArticle",
        "tags": [
          "articles"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The article id",
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/articlesSchemas/ArticleDataObject"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "summary": "Create a bearer token from ownershipId",
        "description": "<h1 style=\"color:#5e9ca0;\">Get a token</h1><font size=\"4\" style=\"line-height:1.4\">Go to the <a href=\"https://app.orgamax.de/apps/developer\">orgaMAX appstore developer dashboard</a><br>Create your app, following the indications.<br>Install the app from your developer dashboard.<br><br>Click the authorize button here in this website, insert the ApiKey (Api-Schüssel) as username and the secret (Geheimer API-Schlüssel) as password.<br>Then pass the ownershipId in the body ,as in the sample below. You can get an ownershipId from the redirect url, when you click on your app in the developers dashboard (/?iid=a1c3fdc8-546a-400f-8dc6-32a0c975513e)<br> <br> Now calling this route you will get the access token. Post it in the authorize section, Bearer token. All routes below will work and you can test them with your orgaMAX account.</font>",
        "operationId": "getToken",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ownershipId": {
                    "type": "string",
                    "example": "5facdad6ae8813157f7bcf91"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/bookkeeping/getchartofaccounts": {
      "get": {
        "summary": "Get paginated chartOfAccounts",
        "description": "<h1 class=\"info\">Gets a list of chartOfAccounts</h1><h2 style=\"color:red;\">How to use it</h2><font size=\"4\" style=\"line-height:1.4\"><br><em style=\"color:#0A96FE\">https://api.orgamax.de/openapi/bookkeeping/getchartofaccounts</em><br>Please refer to the working examples below.</font>",
        "operationId": "bookkeeping",
        "tags": [
          "bookkeeping"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "ChartsOfAccounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartsOfAccountsList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/customer/": {
      "post": {
        "summary": "Create customer",
        "description": "<h1 style=\"color:#5e9ca0;\">Create an customer  </h1><font size=\"4\" style=\"line-height:1.4\">Creates an customer to be used in <em style=\"color:#2e6c80;\">invoices, offers, deliverynotes or your own app</em><br>  <br>Mandatory fields are specified in the minimal examples below. <br>Please note:<br> alltougth it is possible to create a customer, only with lastName and kind, you should consider to provide the additional information for the address, payCondition, deliveryCondition will be taken from default values if non provided, discount will be set to 0, refer to the examples below. </font>",
        "operationId": "createCustomer",
        "tags": [
          "customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/customersSchemas/CustomerDataObject"
              },
              "examples": {
                "Kind person with additional addresses": {
                  "value": {
                    "addresses": [
                      {
                        "lastName": "Schmidt",
                        "street": "Bahnhofstr. 22",
                        "city": "Berlin",
                        "zipCode": "01234",
                        "kind": "person"
                      }
                    ],
                    "category": "my category",
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "kind": "person",
                        "lastName": "Müller",
                        "street": "Kaisersztr.4"
                      }
                    },
                    "deliveryConditionId": 5,
                    "payConditionId": 9,
                    "notesAlert": "my notes",
                    "discount": 19
                  }
                },
                "Kind person minimal": {
                  "value": {
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "kind": "person",
                        "lastName": "Müller"
                      }
                    }
                  }
                },
                "Kind company minimal": {
                  "value": {
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "kind": "company",
                        "companyName": "Müller GMBH"
                      }
                    }
                  }
                },
                "Kind company netPriceAsDefault": {
                  "value": {
                    "netPriceAsDefault": true,
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "kind": "company",
                        "companyName": "Müller GMBH"
                      }
                    }
                  }
                },
                "Kind company with additional addresses": {
                  "value": {
                    "addresses": [
                      {
                        "lastName": "Schmidt",
                        "companyName": "Müller GMBH",
                        "street": "Bahnhofstr. 22",
                        "city": "Berlin",
                        "zipCode": "01234",
                        "kind": "person"
                      }
                    ],
                    "category": "my category",
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "kind": "person",
                        "lastName": "Müller",
                        "street": "Kaisersztr.4"
                      }
                    },
                    "deliveryConditionId": 5,
                    "payConditionId": 9,
                    "notesAlert": "my notes",
                    "discount": 19
                  }
                },
                "Kind company with contact persons": {
                  "value": {
                    "addresses": [
                      {
                        "lastName": "Schmidt",
                        "companyName": "Müller GMBH",
                        "street": "Bahnhofstr. 22",
                        "city": "Berlin",
                        "zipCode": "01234",
                        "kind": "person"
                      }
                    ],
                    "category": "my category",
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "kind": "person",
                        "lastName": "Müller",
                        "street": "Kaisersztr.4"
                      }
                    },
                    "deliveryConditionId": 5,
                    "payConditionId": 9,
                    "notesAlert": "my notes",
                    "discount": 19,
                    "contactPersons": [
                      {
                        "salutation": "Herr",
                        "title": "Dipl.-Ing.",
                        "firstName": "RAlf",
                        "lastName": "Schwarz",
                        "phone1": "01713317130",
                        "phone2": "01713317130",
                        "mobile": "01713317130",
                        "fax": "77888888",
                        "job": "Abteilungsleiter",
                        "email": "rschwarz@deltra.de",
                        "birthday": "2021-07-15",
                        "isMainContact": true
                      },
                      {
                        "salutation": "Herr",
                        "title": "Dipl.-Ing2.",
                        "firstName": "RAlf",
                        "lastName": "Schwarz",
                        "phone1": "01713317130",
                        "phone2": "01713317130",
                        "mobile": "01713317130",
                        "fax": "77888888",
                        "job": "Abteilungsleiter2",
                        "email": "rschwarz@deltra.de",
                        "birthday": "2021-07-15",
                        "isMainContact": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/schemas/CustomerResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/customer/{id}": {
      "put": {
        "summary": "Update customer",
        "description": "<h1><font size=\"4\" style=\"line-height:1.4\">Update a customer.</h1><br> Please note:<br> You can get the existing values from the get byId route. The addresses array should only always contain additional addresses other than the billing and delivery address. So always transmit the billingAddress, deliveryAddress in the defaultCustomerAdress as mentioned in the schema section. Put all other addresses in the addresses array. Note also that omitting the id in the address array object, will delete the existing ones, and recreate them with new ids. </font>",
        "operationId": "putCustomer",
        "tags": [
          "customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "customer id",
            "schema": {
              "type": "integer"
            },
            "example": 8988
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/customersSchemas/CustomerDataObject"
              },
              "examples": {
                "Kind person with additional addresses": {
                  "value": {
                    "addresses": [
                      {
                        "lastName": "Schmidt",
                        "street": "Bahnhofstr. 22",
                        "city": "Berlin",
                        "zipCode": "01234",
                        "kind": "person"
                      }
                    ],
                    "category": "my category",
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "kind": "person",
                        "lastName": "Müller",
                        "street": "Kaisersztr.4"
                      }
                    },
                    "deliveryConditionId": 1,
                    "payConditionId": 1,
                    "notesAlert": "my notes",
                    "discount": 19
                  }
                },
                "change customerdata kind company": {
                  "value": {
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "companyName": "Blau GMBH",
                        "street": "Bahnhofstrasse 7",
                        "city": "Berlin",
                        "zipCode": "12345",
                        "kind": "company"
                      },
                      "deliveryAddress": {
                        "companyName": "Blau Gmbh",
                        "street": "Bahnhofstrasse 7",
                        "city": "München",
                        "zipCode": "12345",
                        "kind": "company"
                      }
                    }
                  }
                },
                "change customerdata kind Person": {
                  "value": {
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "lastName": "Blau",
                        "firstName": "Renate",
                        "street": "Bahnhofstrasse 7",
                        "city": "Berlin",
                        "zipCode": "12345",
                        "salutation": "Herr",
                        "kind": "person"
                      },
                      "deliveryAddress": {
                        "lastName": "Michael",
                        "firstName": "Müller",
                        "street": "Bahnhofstrasse 7",
                        "city": "München",
                        "zipCode": "12345",
                        "salutation": "Herr",
                        "kind": "person"
                      }
                    }
                  }
                },
                "Kind company netPriceAsDefault": {
                  "value": {
                    "netPriceAsDefault": true,
                    "customerDefaultAddress": {
                      "billingAddress": {
                        "kind": "company",
                        "companyName": "Müller GMBH"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "returns the customerId",
            "content": {
              "application/json": {
                "example": {
                  "meta": {},
                  "data": {
                    "id": "90"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Get customer",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an customer by the customer id</h1>",
        "operationId": "getCustomer",
        "tags": [
          "customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Customer id",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "zero": {
                "value": 10,
                "summary": "Get Customer with id 10"
              },
              "one": {
                "value": 123,
                "summary": "Get Customer with id 123"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a complete customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "$ref": "#/components/customersSchemas/CustomerDataObject"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/customer": {
      "get": {
        "summary": "Get paginated customers",
        "description": "<h1 style=\"color:#0A96FE;\">Gets a list of paginated customers</h1><h2 style=\"color:#0A96FE;\">How to use it</h2><font size=\"4\" style=\"line-height:1.4\">You can use the parameters as shown in the section below and send them as query parameters <em style=\"color:#0A96FE\"><br>https://api.orgamax.de/openapi/customer?offset=0&search=&limit=20&orderBy=title&desc=true</em><br>or<br><em style=\"color:#0A96FE\">https://api.orgamax.de/openapi/customers?offset=0&search=&limit=20&orderBy=title&desc=true</em><br>Please refer to the working examples below</font>",
        "operationId": "getCustomers",
        "tags": [
          "customers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Specify an arbitrary offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of records to return in one request",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "description": "The field by which the collection is sorted",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "number"
              ],
              "default": "name"
            }
          },
          {
            "in": "query",
            "name": "desc",
            "description": "Whether results are returned in ascending or descending order",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Specify an arbitrary search text",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/deliveryNote/document/{id}": {
      "get": {
        "summary": "Get deliveryNote document",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an deliveryNote document by the deliveryNote id. You can set type and filename as query params.</h1>",
        "operationId": "getdeliveryNoteDocument",
        "tags": [
          "deliveryNote"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "deliveryNote id",
            "schema": {
              "type": "string",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Content Disposition, specify inline or attachment",
            "example": "attachment",
            "schema": {
              "type": "string",
              "enum": [
                "inline",
                "attachment"
              ]
            }
          },
          {
            "in": "query",
            "name": "filename",
            "description": "filename without extension, .pdf is added, if not specify the default name is taken.",
            "schema": {
              "type": "string",
              "example": "deliveryNotexyz"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a deliveryNote document pdf",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"name.pdf\""
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/deliveryNote/{id}": {
      "get": {
        "summary": "Get deliveryNote",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an deliveryNote by the deliveryNote id</h1>",
        "operationId": "getdeliveryNote",
        "tags": [
          "deliveryNote"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "deliveryNote id",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "zero": {
                "value": 10,
                "summary": "Get deliveryNote with id 10"
              },
              "one": {
                "value": 123,
                "summary": "Get deliveryNote with id 123"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a complete deliveryNote",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "letterElements": {
                          "$ref": "#/components/invoicesSchemas/LetterElements"
                        },
                        "deliveryNote": {
                          "$ref": "#/components/deliveryNoteSchemas/DeliveryNoteDataObject"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/deliveryNote": {
      "get": {
        "summary": "Get paginated deliveryNote",
        "description": "<h1 style=\"color:#0A96FE;\">Gets a list of paginated deliveryNote</h1><h2 style=\"color:#0A96FE;\">How to use it</h2><font size=\"4\" style=\"line-height:1.4\">You can use the parameters as shown in the section below and send them as query parameters. <em style=\"color:#0A96FE\"><br>https://api.orgamax.de/openapi/deliveryNote?offset=0&search=&limit=20&orderBy=title&desc=true</em><br>or<br><em style=\"color:#0A96FE\">https://api.orgamax.de/openapi/deliveryNote?offset=0&search=&limit=20&orderBy=title&desc=true</em><br>Please refer to the working examples below.</font>",
        "operationId": "getDeliveryNotes",
        "tags": [
          "deliveryNote"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Specify an arbitrary offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "get all deliveryNote or by query params",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "description": "Control the field by which the collection is sorted",
            "schema": {
              "type": "string",
              "enum": [
                "customerData.name",
                "number",
                "date"
              ]
            }
          },
          {
            "in": "query",
            "name": "desc",
            "description": "Control whether results are returned in ascending or descending order",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Specify an arbitrary search text",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deliveryNote list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/deliveryNoteSchemas/DeliveryNoteListMetaData"
                    },
                    "data": {
                      "$ref": "#/components/deliveryNoteSchemas/DeliveryNoteListData"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/expense/": {
      "post": {
        "summary": "Create an expense",
        "description": "<h1 style=\"color:#5e9ca0;\">Create an expense</h1><font size=\"4\" style=\"line-height:1.4\">Creates an expense, with expenses receipts <em style=\"color:#2e6c80;\">receipts are optional, if needed use post /expense/receipt for each receipt, get the receipt id and then post /expense/  with the optained receipt ids. </em><br> Refer to the examples below.<br>Date, payee are required. <br>Please note:<span> </span>expense receipts are created first. Then with post /expense/ they are assigned to the expense. Position values must match totalPrice or it will return an INVALID error. <em style=\"color:#2e6c80;\"><br>Please refer to the working examples below and find <b>a full description of the fields </b> in Schemas -> Expense and ExpenseReceipts.  </font>",
        "operationId": "createExpense",
        "tags": [
          "expenses"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "expense": {
                    "$ref": "#/components/schemas/ExpenseData"
                  }
                }
              },
              "examples": {
                "expense without receipts": {
                  "value": {
                    "date": "2019-10-01T00:00:00.000Z",
                    "payee": "Tankstelle Hamburg",
                    "payDate": "2019-10-01T00:00:00.000Z",
                    "description": "Fahrt zum Kunden xxxx",
                    "priceTotal": 119,
                    "vatPercent": 19,
                    "payKind": "bank",
                    "supplierId": 32,
                    "receipts": [],
                    "positions": [
                      {
                        "totalNet": 100,
                        "totalGross": 119,
                        "vatPercent": 19,
                        "vat": 19
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create expense",
            "content": {
              "application/json": {
                "example": {
                  "meta": {},
                  "data": {
                    "id": "90"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/expense/{id}": {
      "delete": {
        "summary": "Delete an expense by Id",
        "description": "<h1>Deletes an expense by id</h1>",
        "operationId": "deleteExpense",
        "tags": [
          "expenses"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The expense id",
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/schemas/NoContent"
          }
        }
      },
      "get": {
        "summary": "Get expense by Id",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an expenses by expense id</h1>",
        "operationId": "getExpense",
        "tags": [
          "expenses"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The expense id",
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a complete expense",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "$ref": "#/components/expensesSchemas/ExpenseDataObject"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "summary": "Update a expense.",
        "description": "<h1 style=\"color:#5e9ca0;\">Update a expense</h1><font size=\"4\" style=\"line-height:1.4\">Updates a expense to be used in <em style=\"color:#2e6c80;\">invoices, offers, orders, deliveryNotes or your own app.</em><br><br>Refer to the ExpenseSchema<br><br>Please refer to the working examples below.</font>",
        "operationId": "updateExpense",
        "tags": [
          "expenses"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "expense id",
            "schema": {
              "type": "integer"
            },
            "example": 1781
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "expense": {
                    "$ref": "#/components/schemas/DeliveryCondition"
                  }
                }
              },
              "examples": {
                "With Positions": {
                  "value": {
                    "description": "My description",
                    "supplerId": 12,
                    "positions": [
                      {
                        "vat": 31.93,
                        "vatPercent": 19,
                        "totalNet": 168.07,
                        "expenseDescription": "test",
                        "totalGross": 200,
                        "orderId": null,
                        "vatDefaultRate": 0,
                        "vatOption": 0,
                        "allowedVatRates": {
                          "values": [
                            19,
                            16,
                            0
                          ],
                          "default": 0
                        }
                      }
                    ],
                    "tags": [
                      "tag1",
                      "tag2"
                    ],
                    "priceKind": "gross",
                    "totalGross": 120,
                    "receiptNumber": "abcd1234",
                    "fileIds": [
                      "1",
                      "2"
                    ]
                  }
                },
                "DeliveryCondition set as default": {
                  "value": {
                    "name": "My DeliveryCondition",
                    "text": "My delivery text",
                    "deliveryDays": 14,
                    "isDefault": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/expense/receipt/{id}": {
      "delete": {
        "summary": "Delete an expense receipt by Id",
        "description": "<h1>Deletes an expense receipt by id</h1>",
        "operationId": "deleteExpenseReceipt",
        "tags": [
          "expenses"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The expense receipt id",
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/schemas/NoContent"
          }
        }
      }
    },
    "/expense": {
      "get": {
        "summary": "Get paginated expenses",
        "description": "<h1 style=\"color:#0A96FE;\">Gets a list of paginated expenses</h1><h2 style=\"color:#0A96FE;\"></h2><font size=\"4\" style=\"line-height:1.4\"><br>Please refer to the working examples below.</font>",
        "operationId": "getExpenses",
        "tags": [
          "expenses"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Specify an arbitrary offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Sets the limit of expenses to obtain",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "description": "Control the field by which the collection is sorted",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "date",
                "priceTotal",
                "payKind",
                "payee",
                "vatAmount",
                "payDate",
                "receiptNumber",
                "suplierId"
              ],
              "default": "date"
            }
          },
          {
            "in": "query",
            "name": "desc",
            "description": "Control whether results are returned in ascending or descending order",
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Specify an arbitrary search text",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Control the field by which the collection is sorted",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "open",
                "paid"
              ],
              "default": "all"
            }
          },
          {
            "in": "query",
            "name": "payKind",
            "description": "payKind of the expense, if not used returns all",
            "schema": {
              "type": "string",
              "enum": [
                "cash",
                "bank"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expenses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/file/{id}/analyze": {
      "get": {
        "summary": "Analyze a document",
        "description": "<h1 style=\"color:#0A96FE;\">Analyzes the file of given ID</font>",
        "operationId": "analyzeFile",
        "tags": [
          "files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "file id",
            "schema": {
              "type": "string",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/file/{id}": {
      "delete": {
        "summary": "Delete a File",
        "description": "<h1 style=\"color:#0A96FE;\">Deletes the file of given ID</font>",
        "operationId": "deleteFile",
        "tags": [
          "files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "file id",
            "schema": {
              "type": "string",
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully Deleted"
          },
          "400": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Get a document",
        "description": "<h1 style=\"color:#0A96FE;\">Gets a document by its ID. You can set filename as query params.</h1>",
        "operationId": "getDocument",
        "tags": [
          "files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "file id",
            "schema": {
              "type": "string",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "filename",
            "description": "filename, if not specified the default name is taken.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a file for download (attachment)",
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "type": "integer"
                    },
                    "userId": {
                      "type": "integer"
                    },
                    "fileName": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/file/{id}/meta": {
      "put": {
        "summary": "Edit document meta data",
        "description": "<h1 style=\"color:#0A96FE;\">Updates File meta data/file/{id}</h1><h2 style=\"color:#0A96FE;\"></h2><font size=\"4\" style=\"line-height:1.4\"><br>Please refer to the working examples below.</font>",
        "operationId": "editFile",
        "tags": [
          "files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "file id",
            "schema": {
              "type": "string",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/customersSchemas/CustomerDataObject"
              },
              "examples": {
                "Update Name": {
                  "value": {
                    "name": "fileName.pdf",
                    "tags": [
                      "#foo",
                      "#bar"
                    ]
                  }
                },
                "Add Tags": {
                  "value": {
                    "tags": [
                      "#foo",
                      "#bar"
                    ]
                  }
                },
                "Add Customer": {
                  "value": {
                    "customer": {
                      "id": 1
                    }
                  }
                },
                "Add Supplier": {
                  "value": {
                    "supplier": {
                      "id": 1
                    }
                  }
                },
                "Add receiptNumber": {
                  "value": {
                    "receiptNumber": "1234abc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Get document meta data",
        "description": "<h1 style=\"color:#0A96FE;\">Gets a list of paginated files. To get the file itselfs use /file/{id}</h1><h2 style=\"color:#0A96FE;\"></h2><font size=\"4\" style=\"line-height:1.4\"><br>Please refer to the working examples below.</font>",
        "operationId": "fetchFileInfo",
        "tags": [
          "files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "file id",
            "schema": {
              "type": "string",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/file": {
      "get": {
        "summary": "Get paginated files",
        "description": "<h1 style=\"color:#0A96FE;\">Gets a list of paginated files. To get the file itselfs use /file/{id}</h1><h2 style=\"color:#0A96FE;\"></h2><font size=\"4\" style=\"line-height:1.4\"><br>Please refer to the working examples below.</font>",
        "operationId": "getFiles",
        "tags": [
          "files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Specify an arbitrary offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Sets the limit of files to obtain",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "description": "Control the field by which the collection is sorted",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ]
            }
          },
          {
            "in": "query",
            "name": "desc",
            "description": "Control whether results are returned in ascending or descending order",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Specify an arbitrary search text",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/file/upload": {
      "post": {
        "summary": "Upload a file",
        "description": "<h1 style=\"color:#5e9ca0;\">Upload a file.</h1><br>You can specify the filename, file and tags. Allowed filetypes xlsx, xdoc, jpg, png, pdf, jfif. You can tag the file with tags.<font size=\"4\" style=\"line-height:1.4\"><em style=\"color:#2e6c80;\"></em><em style=\"color:#2e6c80;\"></font>",
        "operationId": "uploadFile",
        "tags": [
          "files"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "description": "Select Kind",
                    "enum": [
                      "Keine Art zugewiesen",
                      "Vertrag",
                      "Z-Bericht",
                      "Einlage",
                      "Rechnungseingang",
                      "X-Bericht",
                      "Sonstiges",
                      "Rechnungsausgang",
                      "Entnahme",
                      "Anlagegut",
                      "Stornorechnung",
                      "Anlagenabgang "
                    ],
                    "default": "Keine Art zugewiesen"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload a file",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "$ref": "#/components/filesSchemas/FileDataObject"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/invoice/{id}/payment": {
      "post": {
        "summary": "Add payment to invoice",
        "description": "<h1 style=\"color:#5e9ca0;\">Create a payment for an invoice</h1><font size=\"4\" style=\"line-height:1.4\">Add a payment to an invoice with the type:<em style=\"color:#2e6c80;\">payment, credit, surcharge, bankcharge, settle, discount, booklater, partial.</em><br>Payments can be of type payments, partial, discount or bankcharge.<br>\"type:payment\" requires the full invoice amout or it returns a type error<br>Refer to the examples below.</font>",
        "operationId": "addPayment",
        "tags": [
          "invoices"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Invoice id",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoicePayment"
              },
              "examples": {
                "Full payment": {
                  "value": {
                    "amount": 12.37,
                    "type": "payment",
                    "date": "2020-11-21"
                  }
                },
                "Partial payment": {
                  "value": {
                    "amount": 12.37,
                    "type": "partial",
                    "date": "2020-11-21"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoicePayment"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/invoice/document/{id}": {
      "get": {
        "summary": "Get invoice document",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an invoice document by the invoice id. You can set type and filename as query params.</h1>",
        "operationId": "getinvoiceDocument",
        "tags": [
          "invoices"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "invoice id",
            "schema": {
              "type": "string",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Content Disposition, specify inline or attachment",
            "example": "attachment",
            "schema": {
              "type": "string",
              "enum": [
                "inline",
                "attachment"
              ]
            }
          },
          {
            "in": "query",
            "name": "filename",
            "description": "filename without extension, .pdf is added, if not specify the default name is taken.",
            "schema": {
              "type": "string",
              "example": "invoicexyz"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a invoice document pdf",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"name.pdf\""
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/invoice/{id}/download": {
      "get": {
        "summary": "Download an invoice pdf (deprecated) use /invoice/document/{id}",
        "description": "<h1 style=\"color:#0A96FE;\">Downloads an invoice document by the invoice id</h1>",
        "operationId": "download File",
        "tags": [
          "invoices"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Invoice id",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice document pdf",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "file",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/invoice/{id}": {
      "get": {
        "summary": "Get invoice",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an invoice by the invoice id</h1>",
        "operationId": "getInvoice",
        "tags": [
          "invoices"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Invoice id",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a complete invoice",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "$ref": "#/components/invoicesSchemas/InvoiceDataObject"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/invoice": {
      "get": {
        "summary": "Get paginated invoices",
        "operationId": "getInvoices",
        "description": "<h1 style=\"color:#0A96FE;\">Gets a list of paginated invoices</h1><h2 style=\"color:#0A96FE;\">How to use it</h2><font size=\"4\" style=\"line-height:1.4\">You can use the parameters as shown in the section below and send them as query parameters. <em style=\"color:#0A96FE\"><br>https://app.orgamax.de/openapi/invoice?limit=20&orderBy=number&filter=all</em><br>or<br><em style=\"color:#0A96FE\">https://app.orgamax.de/openapi/invoice?limit=20&orderBy=number&desc=true&search=Mayer&filter=partiallyPaid</em><br>Please refer to the working examples below. </font>",
        "tags": [
          "invoices"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Specify an arbitrary offset at which to start retrieving invoices",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of records to return in one request",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "description": "Control the field by which the collection is sorted",
            "schema": {
              "type": "string",
              "enum": [
                "customerData.name",
                "date",
                "dueToDate",
                "totalNet",
                "totalGross"
              ],
              "default": "number"
            }
          },
          {
            "in": "query",
            "name": "desc",
            "description": "Control whether results are returned in ascending or descending order",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Specify an arbitrary search text",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter by invoice state all, dunned, paid, draft, locked, cancelled",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "dunned",
                "paid",
                "draft",
                "locked",
                "cancelled"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/invoice/{id}/lock": {
      "put": {
        "summary": "Locks and finalize an invoice",
        "description": "<h1 style=\"color:#5e9ca0;\">Locks and finalize an invoice</h1><font size=\"4\" style=\"line-height:1.4\">Changes the state of an invoice from draft to locked and finalizes the invoice, assigning a invoicenumber.<br> This operation can not be undone and the invoice <em>can not</em> be edited anymore after been locked.</font>",
        "operationId": "lockInvoice",
        "tags": [
          "invoices"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The invoice id",
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Locks and finalize an invoice",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": null,
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "documenthPath": {
                        "type": "string"
                      },
                      "number": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string",
                        "value": "locked"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/invoice/{id}/send": {
      "post": {
        "summary": "Send invoice per email",
        "description": "<h1 style=\"color:#5e9ca0;\">Sends email with the invoice pdf</h1><font size=\"4\" style=\"line-height:1.4\">Send email with the invoice pdf attachment to several email recipients.<br>Post the recipients like in the example.</font>",
        "operationId": "sendInvoice",
        "tags": [
          "invoices"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "invoice id",
            "schema": {
              "type": "integer"
            },
            "example": 1578
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "recipients": {
                    "type": "array",
                    "example": [
                      "email1@mydomain.com",
                      "email1@mydomain.com"
                    ],
                    "required": true
                  },
                  "subject": {
                    "type": "string",
                    "example": "Your invoice",
                    "required": true
                  },
                  "attachmentName": {
                    "type": "string",
                    "example": "Rechnung"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/offer/document/{id}": {
      "get": {
        "summary": "Get offer document",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an offer document by the offer id. You can set type and filename as query params.</h1>",
        "operationId": "getofferDocument",
        "tags": [
          "offers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "offer id",
            "schema": {
              "type": "string",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Content Disposition, specify inline or attachment",
            "example": "attachment",
            "schema": {
              "type": "string",
              "enum": [
                "inline",
                "attachment"
              ]
            }
          },
          {
            "in": "query",
            "name": "filename",
            "description": "filename without extension, .pdf is added, if not specify the default name is taken.",
            "schema": {
              "type": "string",
              "example": "offerxyz"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a offer document pdf",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"name.pdf\""
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/offer/{id}": {
      "get": {
        "summary": "Get offer",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an offer by the offer id</h1>",
        "operationId": "getOffer",
        "tags": [
          "offers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Offer id",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "zero": {
                "value": 10,
                "summary": "Get Offer with id 10"
              },
              "one": {
                "value": 123,
                "summary": "Get Offer with id 123"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a complete offer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "$ref": "#/components/offersSchemas/OfferDataObject"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/offer": {
      "get": {
        "summary": "Get paginated offers",
        "description": "<h1 style=\"color:#0A96FE;\">Gets a list of paginated offers</h1><h2 style=\"color:#0A96FE;\">How to use it</h2><font size=\"4\" style=\"line-height:1.4\">You can use the parameters as shown in the section below and send them as query parameters. <em style=\"color:#0A96FE\"><br>https://api.orgamax.de/openapi/offer?offset=0&search=&limit=20&orderBy=title&desc=true</em><br>or<br><em style=\"color:#0A96FE\">https://api.orgamax.de/openapi/offers?offset=0&search=&limit=20&orderBy=title&desc=true</em><br>Please refer to the working examples below.</font>",
        "operationId": "getOffers",
        "tags": [
          "offers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Specify an arbitrary offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "get all offers or by query params",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "description": "Control the field by which the collection is sorted",
            "schema": {
              "type": "string",
              "enum": [
                "customerData.name",
                "number",
                "date",
                "totalNet",
                "totalGross"
              ]
            }
          },
          {
            "in": "query",
            "name": "desc",
            "description": "Control whether results are returned in ascending or descending order",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Specify an arbitrary search text",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/offersSchemas/OfferListMetaData"
                    },
                    "data": {
                      "$ref": "#/components/offersSchemas/OfferListData"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/order/{id}/invoice": {
      "post": {
        "summary": "Creates an invoice from order",
        "description": "<h1 style=\"color:#0A96FE;\">Create an invoice from the order id</h1>",
        "operationId": "postorderInvoice",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "order id",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "zero": {
                "value": 10,
                "summary": "Create invoice from order with id 10"
              },
              "one": {
                "value": 123,
                "summary": "Create invoice from order with id 123"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a invoice reference",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta1": {
                      "type": "object"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "invoice": {
                          "$ref": "#/components/invoicesSchemas/InvoiceDataObject"
                        },
                        "order": {
                          "$ref": "#/components/ordersSchemas/OrderDataObject"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/order/": {
      "post": {
        "summary": "Creates an order",
        "description": "<h1 style=\"color:#0A96FE;\">Create an invoice from the order id</h1>",
        "operationId": "postorder",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "article": {
                    "$ref": "#/components/schemas/OrderData"
                  }
                }
              },
              "examples": {
                "Minimal": {
                  "description": "minimal payload , with only customerId, date, and articles",
                  "value": {
                    "customerId": 1,
                    "articles": [
                      {
                        "id": 1,
                        "amount": 2
                      },
                      {
                        "id": 2,
                        "amount": 2
                      }
                    ]
                  }
                },
                "With articles (existing) and positions (custom) seperately": {
                  "description": "Example with both existing articles and custom positions in separate arrays",
                  "value": {
                    "customerId": 1,
                    "articles": [
                      {
                        "id": 1,
                        "amount": 2,
                        "discountPercent": 0.2
                      }
                    ],
                    "positions": [
                      {
                        "amount": 1,
                        "title": "My Article",
                        "description": "My Article description",
                        "unit": "Stk.",
                        "priceNet": 50,
                        "priceGross": 59.5,
                        "vatPercent": 19,
                        "discountPercent": 0,
                        "showDescription": true,
                        "weight": 0,
                        "metaData": {
                          "type": "custom"
                        }
                      }
                    ]
                  }
                },
                "With both existing and custom positions together": {
                  "description": "example combining both existing articles and custom positions",
                  "value": {
                    "customerId": 1,
                    "positions": [
                      {
                        "amount": 2,
                        "title": "Custom Article",
                        "description": "Custom Article description",
                        "showDescription": true,
                        "unit": "Stk.",
                        "priceNet": 50,
                        "priceGross": 59.5,
                        "vatPercent": 19,
                        "discountPercent": 10,
                        "metaData": {
                          "type": "custom"
                        }
                      },
                      {
                        "amount": 2,
                        "title": "Existing Article",
                        "description": "Existing Article description",
                        "unit": "Stk.",
                        "priceNet": 560,
                        "priceGross": 666.4,
                        "vatPercent": 19,
                        "discountPercent": 0,
                        "showDescription": true,
                        "metaData": {
                          "id": "39998",
                          "type": "article",
                          "number": "309",
                          "purchasePrice": 0,
                          "calculationBase": "net"
                        }
                      }
                    ]
                  }
                },
                "With delivery/payConditions and dates": {
                  "value": {
                    "customerId": 1,
                    "deliveryConditionId": 1,
                    "payConditionId": 1,
                    "priceKind": "net",
                    "date": "2021-04-23",
                    "deliveryDate": "2021-04-25",
                    "articles": [
                      {
                        "id": 1,
                        "amount": 2,
                        "discountPercent": 0.2
                      },
                      {
                        "id": 2,
                        "amount": 2,
                        "discountPercent": 0.2
                      }
                    ],
                    "columns": [
                      "vat"
                    ]
                  }
                },
                "With infoSection and customInfoSecion fields": {
                  "value": {
                    "customerId": 1,
                    "deliveryConditionId": 1,
                    "payConditionId": 1,
                    "priceKind": "net",
                    "date": "2021-04-23",
                    "deliveryDate": "2021-04-25",
                    "articles": [
                      {
                        "id": 1,
                        "amount": 2,
                        "discountPercent": 0.2
                      }
                    ],
                    "columns": [
                      "vat"
                    ],
                    "infoSectionFields": [
                      {
                        "name": "orderNumber",
                        "label": "Meine Nummer"
                      },
                      {
                        "name": "customerNumber",
                        "label": "KundenNummer"
                      }
                    ],
                    "infoSectionCustomFields": [
                      {
                        "label": "Info",
                        "value": "My Info"
                      },
                      {
                        "label": "Premium Kunde",
                        "value": "Ja"
                      },
                      {
                        "label": "My Label",
                        "value": "My Value"
                      },
                      {
                        "label": "Sonst noch was",
                        "value": "Nein"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a invoice reference",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "invoice": {
                          "$ref": "#/components/invoicesSchemas/InvoiceDataObject"
                        },
                        "order": {
                          "$ref": "#/components/ordersSchemas/OrderDataObject"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/order/document/{id}": {
      "get": {
        "summary": "Get order document",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an order document by the order id. You can set type and filename as query params.</h1>",
        "operationId": "getOrderDocument",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Order id",
            "schema": {
              "type": "string",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Content Disposition, specify inline or attachment",
            "example": "attachment",
            "schema": {
              "type": "string",
              "enum": [
                "inline",
                "attachment"
              ]
            }
          },
          {
            "in": "query",
            "name": "filename",
            "description": "filename without extension, .pdf is added, if not specify the default name is taken.",
            "schema": {
              "type": "string",
              "example": "orderxyz"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a order document pdf",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"name.pdf\""
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/order/{id}": {
      "get": {
        "summary": "Get order",
        "description": "<h1 style=\"color:#0A96FE;\">Gets an order by the order id</h1>",
        "operationId": "getOrder",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
[...]
